<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DocAsCode.YamlSerialization" version="2.29.1" targetFramework="net461" />
  <package id="Microsoft.OpenApi" version="1.0.0-beta012" targetFramework="net461" />
  <package id="Microsoft.OpenApi.Readers" version="1.0.0-beta012" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="SharpYaml" version="1.6.1" targetFramework="net461" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net461" />
  <package id="YamlDotNet.Signed" version="4.2.2" targetFramework="net461" />
</packages>